<main
  class="flex overflow-hidden"
  x-data="{ servicesItems: ['Mobile development', 'UI/UX Design', 'web development', 'SEO'] }"
>
  <div class="flex-1 hidden lg:block">
    <img
      src="https://images.unsplash.com/photo-1697135807547-5fa9fd22d9ec?auto=format&fit=crop&q=80&w=3387&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="w-full h-screen object-cover"
    />
  </div>
  <div
    class="py-12 flex-1 lg:flex lg:justify-center lg:h-screen lg:overflow-auto"
  >
    <div class="max-w-lg flex-1 mx-auto px-4 text-gray-600">
      <section class="py-10 lg:py-24">
        <div
          class="relative flex justify-center max-h-full overflow-hidden lg:px-0 md:px-12"
        >
          <div
            class="hidden bg-white lg:block lg:flex-1 lg:relative sm:contents"
          >
            <div class="absolute inset-0 object-cover w-full h-full bg-white">
              <img
                src="../images/placeholders/square1.svg"
                alt=""
                class="object-center w-full h-auto bg-gray-200"
                width="1310"
                height="873"
              />
            </div>
          </div>
          <div
            class="relative z-10 flex flex-col flex-1 px-4 py-10 bg-white lg:border-r lg:py-24 md:flex-none md:px-28 sm:justify-center"
          >
            <div
              class="w-full max-w-md mx-auto md:max-w-sm md:px-0 md:w-96 sm:px-4 text-center"
            >
              <div class="flex flex-col">
                <h1
                  class="text-3xl font-semibold tracking-tighter text-gray-900"
                >
                  Colaborando en proyectos de una sola página,
                  <span class="text-gray-600">desde cualquier lugar</span>
                </h1>
                <p class="mt-4 text-base font-medium text-gray-500">
                  Un enfoque rápido para colaborar en entornos de puesta en
                  escena y provisionales.
                </p>
              </div>
              <div class="mt-8">
                <button
                  class="inline-flex items-center justify-center w-full h-12 gap-3 px-5 py-3 font-medium duration-200 bg-gray-100 rounded-xl hover:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                  type="button"
                  aria-label="Iniciar sesión con Google"
                >
                  <ion-icon
                    name="logo-google"
                    role="img"
                    class="md hydrated"
                    aria-label="logo google"></ion-icon>
                  <span>Iniciar sesión con Google</span>
                </button>
                <div class="relative py-3">
                  <div
                    class="absolute inset-0 flex items-center"
                    aria-hidden="true"
                  >
                    <div class="w-full border-t border-gray-300"></div>
                  </div>
                  <div class="relative flex justify-center">
                    <span class="px-2 text-sm text-black bg-white"
                      >O continuar con</span
                    >
                  </div>
                </div>
              </div>
              <form>
                <div class="space-y-6">
                  <div class="flex flex-row gap-3">
                    <div class="w-full">
                      <label class="sr-only" for="first_name">Nombre</label>
                      <input
                        type="text"
                        id="first_name"
                        name="first_name"
                        autocomplete="given-name"
                        required="true"
                        placeholder="Nombre"
                        class="w-full focus:outline-none border py-3 appearance-none h-12 bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                      />
                    </div>
                    <div class="w-full">
                      <label class="sr-only" for="last_name">Apellidos</label>
                      <input
                        type="text"
                        id="last_name"
                        name="last_name"
                        autocomplete="family-name"
                        required="true"
                        placeholder="Apellidos"
                        class="w-full focus:outline-none border py-3 appearance-none h-12 bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                      />
                    </div>
                  </div>
                  <div>
                    <label for="email" class="sr-only">Correo electrónico</label
                    >
                    <input
                      id="email"
                      name="email"
                      type="email"
                      placeholder="correo@dominio.com"
                      required="true"
                      class="w-full focus:outline-none border py-3 appearance-none h-12 bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                    />
                  </div>
                  <div>
                    <label class="sr-only" for="password">Contraseña</label>
                    <input
                      id="password"
                      name="password"
                      type="password"
                      placeholder="Mayúsculas, Minúsculas, Números y Caracteres Especiales..."
                      required="true"
                      class="w-full focus:outline-none border py-3 appearance-none h-12 bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                    />
                  </div>
                  <div class="flex items-start">
                    <input
                      type="checkbox"
                      id="remember-me"
                      name="remember-me"
                      class="text-accent-500 focus:ring-accent-500 border-accent-500 h-4 rounded w-4"
                    />
                    <label
                      for="remember-me"
                      class="font-medium text-xs block leading-tight ml-2 text-gray-500"
                      >Crear una cuenta significa que aceptas <a
                        href="/terms"
                        class="text-accent-500 hover:text-accent-400"
                        >Nuestros Términos de Servicio,</a
                      ><a
                        href="/privacy"
                        class="text-accent-500 hover:text-accent-400"
                        >Política de Privacidad,</a
                      >y nuestra <a
                        href="/notifications"
                        class="text-accent-500 hover:text-accent-400"
                        >Configuración de Notificaciones.</a
                      ></label
                    >
                  </div>
                  <button
                    type="submit"
                    class="items-center justify-center h-12 rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black px-6 py-3 text-center text-white w-full"
                    >Crear una cuenta</button
                  >
                  <div class="space-y-4">
                    <p class="font-medium text-sm leading-tight text-black">
                      ¿Ya eres miembro? <a
                        href="/login"
                        class="text-accent-500 hover:text-accent-400 ml-3"
                        >Iniciar Sesión</a
                      >
                    </p>
                    <p class="font-medium text-xs leading-tight text-gray-500">
                      Esta página está protegida por reCAPTCHA y está sujeta a
                      la <a
                        href="https://policies.google.com/privacy"
                        class="text-accent-500 hover:text-accent-400"
                        >Política de Privacidad</a
                      >
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
