---
import logo from "../../assets/img/mocks/logoblack.png";
import Image from "astro/components/Image.astro";
---

<section class="bg-black bg-opacity-10 border-b border-black/5">
  <div class="w-full mx-auto md:px-12 px-8 max-w-7xl lg:px-16">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-5 mx-auto md:items-center md:justify-between md:flex-row md:px-6"
    >
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a
          href="/"
          class="text-black inline-flex items-center gap-3 text-lg font-bold mr-4"
        >
        
        <img src={logo.src} alt="logo de la empresa" width="100" height="100">     

        </a>
        
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-black focus:outline-none focus:text-black md:hidden"
        >
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow md:flex md:justify-end md:flex-row"
      >
        <a
          class="px-4 lg:px-6 py-3 md:px-4 text-lg font-medium text-black hover:text-accent-400"
          href="/#_">Inicio</a
        >
        <a
          class="px-4 lg:px-6 py-3 md:px-4 text-lg font-medium text-black hover:text-accent-400"
          href="/#features">Funcionalidades</a
        >
        <a
          class="px-4 lg:px-6 py-3 md:px-4 text-lg font-medium text-black hover:text-accent-400"
          href="/#pricing">Precios</a
        >
        <a
          class="px-4 lg:px-6 py-3 md:px-4 text-lg font-medium text-black hover:text-accent-400"
          href="/about">About</a
        >
        <a
          class="px-4 lg:px-6 py-3 md:px-4 text-lg font-medium text-black hover:text-accent-400"
          href="/faq">Faq</a
        >
        <div class="inline-flex items-center gap-2 list-none lg:ml-auto">
          <a
            href="/signup"
            class="inline-flex items-center h-10 justify-center px-6 py-3 text-lg font-medium text-black bg-gray-300 border-zinc-800 hover:border-zinc-900 hover:bg-gray-900 rounded-lg group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 active:bg-gray-200 hover:text-white focus-visible:outline-black mx-2 md:mx-8"
            >Regístrate</a
          >
          <a
            href="/login"
            class="inline-flex items-center h-10 justify-center px-6 py-3 text-lg font-medium text-black bg-gray-300 border-zinc-800 hover:border-zinc-900 hover:bg-gray-900 rounded-lg group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 active:bg-gray-200 hover:text-white focus-visible:outline-black"
            >Acceder</a
          >
        </div>
      </nav>
    </div>
  </div>
</section>
