<section>
  <div
    class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-20 max-w-7xl"
  >
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
      <div
        class="inline-block p-4 mx-auto text-left align-bottom transition-all transform bg-gray-100 sm:align-middle sm:p-8 rounded-2xl"
      >
        <div class="flex w-full mb-4">
          <div class="overflow-hidden">
            <img
              alt=""
              class="inline-block object-cover rounded-full h-9 w-9"
              src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            />
          </div>
          <div class="flex-grow pl-3">
            <h6 class="text-lg font-medium leading-6 text-black">
              Angel Olivares Duque
            </h6>
            <p class="text-base text-gray-500">@Angel_Olive_Trees</p>
          </div>
        </div>
        <div class="w-full mb-4">
          <p class="text-base text-gray-500">
            Gracias a las herramientas de analisis de mercados que proporcionan,
            pude darme cuenta de que estaba perdiendo dinero. Ahora, gracias a
            ellos, he mejorado mi cartera de inversiones. Recomiendo sus
            servicios al 100%.
          </p>
        </div>
        <div class="w-full text">
          <a href="#_" class="text-xs text-right text-blue-500 hover:text-black"
            >Programador Backend</a
          >
        </div>
      </div>
      <div
        class="inline-block p-4 mx-auto text-left align-bottom transition-all transform bg-gray-100 sm:align-middle sm:p-8 rounded-2xl"
      >
        <div class="flex w-full mb-4">
          <div class="overflow-hidden">
            <img
              alt=""
              class="inline-block object-cover rounded-full h-9 w-9"
              src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            />
          </div>
          <div class="flex-grow pl-3">
            <h6 class="text-lg font-medium leading-6 text-black">
              Samantha Hudson
            </h6>
            <p class="text-base text-gray-500">@Badbixsamanthaa</p>
          </div>
        </div>
        <div class="w-full mb-4">
          <p class="text-base text-gray-500">
            "Soy una nomada digital y siempre he tenido problemas para saber de
            donde vienen mis ingresos y en que los gasto. Gracias a esta
            empresa, ahora tengo un control total de mis finanzas personales.
            Ahora puedo viajar sin preocupaciones."
          </p>
        </div>
        <div class="w-full text">
          <a href="#_" class="text-xs text-right text-blue-500 hover:text-black"
            >Influencer de Moda</a
          >
        </div>
      </div>
      <div
        class="inline-block p-4 mx-auto text-left align-bottom transition-all transform bg-gray-100 sm:align-middle sm:p-8 rounded-2xl"
      >
        <div class="flex w-full mb-4">
          <div class="overflow-hidden">
            <img
              alt=""
              class="inline-block object-cover rounded-full h-9 w-9"
              src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            />
          </div>
          <div class="flex-grow pl-3">
            <h6 class="text-lg font-medium leading-6 text-black">
              Joseph Charles S.
            </h6>
            <p class="text-base text-gray-500">@Twitter_Handle</p>
          </div>
        </div>
        <div class="w-full mb-4">
          <p class="text-base text-gray-500">
            "Siempre he tenido problemas debido a mi aficion por el mundo del
            motor. Gracias a sus ellos tengo un control total de mis finanzas
            personales. Ahora puedo comprar coches con conocimiento de las
            consecuencias que tendra sobre mi patrimonio."
          </p>
        </div>
        <div class="w-full text">
          <a href="#_" class="text-xs text-right text-blue-500 hover:text-black"
            >Inversor y Coleccionista de Motor</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
