---
import Image from "astro/components/Image.astro";
import mockupImage from "../../assets/img/mocks/dashboard-nice.png";
---

<section class="relative flex items-center justify-center">
  <div
    class="relative items-center w-full px-5 py-12 mx-auto max-w-7xl lg:px-16 lg:py-32 md:px-12"
  >
    <div class="relative items-center w-full pb-12 mx-auto max-w-7xl">
      <div>
        <div class="text-center max-w-4xl mx-auto">
          <div class="sm:flex sm:justify-center">
            <div
              class="relative rounded-full py-2 px-4 text-lg leading-7 text-gray-600 ring-2 ring-gray-900/10 hover:ring-gray-900/50"
            >
              <a
                href="https://github.com/megarbon"
                class="font-semibold text-accent-600"
              >
                <span class="absolute inset-0" aria-hidden="true"></span>
                <span class="block lg:inline"
                  >Conoce WealthIQ <span aria-hidden="true">&rarr;</span></span
                >
              </a>
            </div>
          </div>
          <p
            class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display mt-8"
          >
            WealthIQ es una plataforma de gestión de carteras de inversión y
            finanzas personales.
          </p>
          <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
            Unimos la gestión de carteras de inversión con la gestión de
            finanzas personales en una sola plataforma. La plataforma es ideal
            para inversores que buscan una solución integral para la gestión de
            su patrimonio.
          </p>
        </div>
        <div class="flex justify-center gap-3 mt-10 mb-4 flex-col sm:flex-row">
          <a
            class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
            href="/login">Finanzas Personales &rarr;</a
          >
          <!-- <a
            class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
            href="/login"
            >Gestión de Carteras &rarr;
          </a> -->
        </div>
        <dl
          class="lg:gap-x-8 lg:grid-cols-4 max-w-5xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-lg items-start z-10"
        >
          <div class="text-gray-900">
            <strong class="text-gray-900">Control Financiero Integral</strong
            ><br /><br /> Proporciona un seguimiento completo de las fuentes de ingresos
            y destinos de gastos, junto con métricas detalladas para mejorar la eficacia
            financiera.
          </div>

          <div class="text-gray-900">
            <strong class="text-gray-900"
              >Optimización de Logros de Objetivos</strong
            ><br /><br /> Te brinda herramientas visuales y métricas precisas para
            perseguir tus objetivos de ahorro. Gráficos intuitivos y análisis detallados
            aseguran que mantengas el rumbo hacia una mejor salud financiera.
          </div>

          <div class="text-gray-900">
            <strong class="text-gray-900"
              >Estrategias de Inversión Inteligentes</strong
            ><br /><br /> Ofrece recomendaciones precisas a través de algoritmos
            predictivos para fortalecer inversiones y optimizar finanzas personales.
          </div>

          <div class="text-gray-900">
            <strong class="text-gray-900"
              >Soluciones de Mejora de Portafolio</strong
            ><br /><br /> Cuenta con un equipo de expertos que analiza continuamente
            el mercado financiero utilizando datos precisos y algoritmos avanzados.
          </div>
        </dl>
      </div>
      <svg
        class="absolute -mt-24 blur-3xl"
        fill="none"
        viewBox="0 0 400 400"
        height="100%"
        width="100%"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_10_20)">
          <g filter="url(#filter0_f_10_20)">
            <path d="M128.6 0H0V322.2L106.2 134.75L128.6 0Z" fill="#03FFE0"
            ></path>
            <path d="M0 322.2V400H240H320L106.2 134.75L0 322.2Z" fill="#7C87F8"
            ></path>
            <path d="M320 400H400V78.75L106.2 134.75L320 400Z" fill="#4C65E4"
            ></path>
            <path d="M400 0H128.6L106.2 134.75L400 78.75V0Z" fill="#043AFF"
            ></path>
          </g>
        </g>
        <defs>
          <filter
            color-interpolation-filters="sRGB"
            filterUnits="userSpaceOnUse"
            height="720.666"
            id="filter0_f_10_20"
            width="720.666"
            x="-160.333"
            y="-160.333"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              in="SourceGraphic"
              in2="BackgroundImageFix"
              mode="normal"
              result="shape"></feBlend>
            <feGaussianBlur
              result="effect1_foregroundBlur_10_20"
              stdDeviation="80.1666"></feGaussianBlur>
          </filter>
        </defs>
      </svg>
      <Image
        src={mockupImage}
        alt=""
        class="relative object-cover w-full border rounded shadow-2xl lg:rounded-2xl mt-12"
      />
    </div>
  </div>
</section>
