<style>
  .pricing-section:hover {
    /* Estilos de hover para la primera sección */
    background-color: lightblue;
  }
</style>

<section aria-labelledby="pricing-section" id="pricing"></section>
<div class="items-center px-8 lg:pt-12 pb-24 mx-auto max-w-7xl lg:px-16">
  <p class="flex items-center px-16 mb-4 text-center text-gray-700">
    Consulta nuestros precios desde el principio y con total transparencia;
    siempre sabrás cuánto vas a pagar con nosotros. Si no estás seguro, puedes
    probar gratis.
  </p>

  <div
    class="grid max-w-2xl grid-cols-1 py-4 -mx-4 bg-black rounded-3xl sm:grid-cols-2 gap-y-10 sm:mx-auto lg:max-w-none lg:grid-cols-3 xl:gap-x-3 lg:bg-black lg:border border-gray-500/10 lg:rounded-3xl lg:p-6"
  >
    <section
      class="flex flex-col px-6 rounded-3xl lg:py-8 hover:bg-blue-800 mx-auto my-4"
    >
      <h3 class="mt-5 text-lg text-white font-display">Gratuito</h3>
      <p class="mt-2 text-sm text-white">Para los que solo quieren probar.</p>
      <p
        class="order-first text-5xl font-light tracking-tight text-white font-display"
      >
        0€
      </p>
      <ul
        role="list"
        class="flex flex-col order-last mt-10 text-sm text-white gap-y-3"
      >
        <li class="flex items-center">
          <ion-icon
            class="w-4 h-4 md hydrated"
            name="checkmark-outline"
            role="img"
            aria-label="checkmark outline"></ion-icon><span class="ml-4"
            >15 Días de Pueba</span
          >
        </li>
        <li class="flex items-center">
          <ion-icon
            class="w-4 h-4 md hydrated"
            name="checkmark-outline"
            role="img"
            aria-label="checkmark outline"></ion-icon><span class="ml-4">
            1 Cartera de Inversión</span
          >
        </li>
        <li class="flex items-center">
          <ion-icon
            class="w-4 h-4 md hydrated"
            name="checkmark-outline"
            role="img"
            aria-label="checkmark outline"></ion-icon><span class="ml-4"
            >1 Cuenta de Ahorros</span
          >
        </li>
        <li class="flex items-center">
          <ion-icon
            class="w-4 h-4 md hydrated"
            name="checkmark-outline"
            role="img"
            aria-label="checkmark outline"></ion-icon><span class="ml-4"
            >Funcionalidad Parcial</span
          >
        </li>
      </ul>
      <a
        class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border rounded-xl focus:outline-none hover:bg-black hover:text-white"
        aria-label="Wannabe tier"
        href="/register">Empezar Gratis</a
      >
    </section>
    <section
      class="flex flex-col px-6 rounded-3xl lg:py-8 hover:bg-blue-800 mx-auto my-4"
    >
      <h3 class="mt-5 text-lg text-white font-display">Financiero</h3>
      <p class="mt-2 text-sm text-white">Controla tus finanzas personales.</p>
      <p
        class="order-first text-5xl font-light tracking-tight text-white font-display"
      >
        10€/mes
      </p>
      <ul
        role="list"
        class="flex flex-col order-last mt-10 text-sm text-white gap-y-3"
      >
        <li class="flex items-center">
          <ion-icon
            class="w-4 h-4 md hydrated"
            name="checkmark-outline"
            role="img"
            aria-label="checkmark outline"></ion-icon><span class="ml-4"
            >Analisis Instantaneo</span
          >
        </li>
        <li class="flex items-center">
          <ion-icon
            class="w-4 h-4 md hydrated"
            name="checkmark-outline"
            role="img"
            aria-label="checkmark outline"></ion-icon><span class="ml-4">
            2 Cuentas Bancarias</span
          >
        </li>
        <li class="flex items-center">
          <ion-icon
            class="w-4 h-4 md hydrated"
            name="checkmark-outline"
            role="img"
            aria-label="checkmark outline"></ion-icon><span class="ml-4"
            >Seguimiento de hasta 15 Tarjetas</span
          >
        </li>
        <li class="flex items-center">
          <ion-icon
            class="w-4 h-4 md hydrated"
            name="checkmark-outline"
            role="img"
            aria-label="checkmark outline"></ion-icon><span class="ml-4"
            >5 Carteras de Inversión</span
          >
        </li>
        <li class="flex items-center">
          <!-- <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4">
              Acceso a Datos Trimestrales</span
            > -->
        </li>
      </ul>
      <a
        class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border rounded-xl focus:outline-none hover:bg-black hover:text-white"
        aria-label="Wannabe tier"
        href="/register">Inscribirse</a
      >
    </section>
    <section
      class="flex flex-col px-6 rounded-3xl lg:py-8 hover:bg-blue-800 mx-auto my-4"
    >
      <h3 class="mt-5 text-lg text-white font-display">Inversor</h3>
      <p class="mt-2 text-sm text-white">Gestión de Carteras de inversión.</p>
      <p
        class="order-first text-5xl font-light tracking-tight text-white font-display"
      >
        50€/mes
      </p>
      <ul
        role="list"
        class="flex flex-col order-last mt-10 text-sm text-white gap-y-3"
      >
        <li class="flex items-center">
          <ion-icon
            class="w-4 h-4 md hydrated"
            name="checkmark-outline"
            role="img"
            aria-label="checkmark outline"></ion-icon><span class="ml-4"
            >Conexion Inmediata</span
          >
        </li>
        <li class="flex items-center">
          <ion-icon
            class="w-4 h-4 md hydrated"
            name="checkmark-outline"
            role="img"
            aria-label="checkmark outline"></ion-icon><span class="ml-4">
            15 Cuentas Bancarias</span
          >
        </li>
        <li class="flex items-center">
          <ion-icon
            class="w-4 h-4 md hydrated"
            name="checkmark-outline"
            role="img"
            aria-label="checkmark outline"></ion-icon><span class="ml-4"
            >Seguimiento de 200 Tarjetas</span
          >
        </li>
        <li class="flex items-center">
          <ion-icon
            class="w-4 h-4 md hydrated"
            name="checkmark-outline"
            role="img"
            aria-label="checkmark outline"></ion-icon><span class="ml-4"
            >Analisis Constantes</span
          >
        </li>
        <li class="flex items-center">
          <!-- <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4">
              Acceso a Datos Anuales</span
            > -->
        </li>
      </ul>
      <a
        class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border rounded-xl focus:outline-none hover:bg-black hover:text-white"
        aria-label="Wannabe tier"
        href="/register">Inscribirse</a
      >
    </section>
  </div>
</div>
