<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl">
    <div class="grid grid-cols-1 gap-6 lg:gap-12 lg:grid-cols-3">
      <div class="text-center lg:text-left">
        <div>
          <p class="text-4xl font-semibold tracking-tighter text-gray-900">
            Preguntas frecuentes y respuestas
          </p>
          <p class="mt-4 text-base font-medium text-gray-500 text-pretty">
            Respuestas a preguntas comunes sobre nuestra plataforma de gestión
            de cartera de inversiones
          </p>
        </div>
      </div>
      <div
        class="w-full lg:col-span-2"
        x-data="{
          activeAccordion: '',
          setActiveAccordion(id) {
            this.activeAccordion = (this.activeAccordion == id) ? '' : id
          }
        }"
      >
        <div
          class="text-gray-600 cursor-pointer group hover:text-gray-500"
          x-data="{ id: $id('accordion1') }"
          :class="{ 'text-gray-900': activeAccordion==id, 'text-gray-600 hover:text-gray-500': activeAccordion!=id }"
        >
          <button
            class="flex items-center justify-between w-full p-4 pb-1 text-lg font-medium text-black select-none"
            @click="setActiveAccordion(id)"
          >
            <span>¿Cómo puedo gestionar mi cuenta?</span>
            <svg
              class="size-5 text-gray-500 duration-300 ease-out"
              fill="none"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              stroke="currentColor"
              stroke-width="1.5"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
            >
              <path
                d="M12 6v12m6-6H6"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </button>
          <div x-collapse="" x-show="activeAccordion==id" style="display: none">
            <div
              class="p-4 pt-2 text-base font-medium text-gray-500 text-balance"
            >
              Puedes gestionar tu cuenta en la página "Mi cuenta" para cambiar
              los detalles de facturación, ver tu historial de transacciones y
              acceder a informes detallados sobre tus inversiones. También
              puedes contactar con nuestro equipo de soporte para obtener ayuda
              adicional.
            </div>
          </div>
        </div>
        <div
          class="text-gray-600 cursor-pointer group hover:text-gray-500"
          x-data="{ id: $id('accordion2') }"
          :class="{ 'text-gray-900': activeAccordion==id, 'text-gray-600 hover:text-gray-500': activeAccordion!=id }"
        >
          <button
            class="flex items-center justify-between w-full p-4 pb-1 text-lg font-medium text-black select-none"
            @click="setActiveAccordion(id)"
          >
            <span>¿Cómo puedo realizar inversiones a través de WealthIQ?</span>
            <svg
              class="size-5 text-gray-500 duration-300 ease-out"
              fill="none"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              stroke="currentColor"
              stroke-width="1.5"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
            >
              <path
                d="M12 6v12m6-6H6"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </button>
          <div x-collapse="" x-show="activeAccordion==id" style="display: none">
            <div
              class="p-4 pt-2 text-base font-medium text-gray-500 text-balance"
            >
              En WealthIQ, puedes realizar inversiones utilizando nuestras
              herramientas avanzadas de análisis y gestión de carteras. Nuestro
              sistema utiliza algoritmos predictivos para ofrecerte
              recomendaciones de inversión personalizadas y optimizar tus
              ganancias potenciales.
            </div>
          </div>
        </div>
        <div
          class="text-gray-600 cursor-pointer group hover:text-gray-500"
          x-data="{ id: $id('accordion3') }"
          :class="{ 'text-gray-900': activeAccordion==id, 'text-gray-600 hover:text-gray-500': activeAccordion!=id }"
        >
          <button
            class="flex items-center justify-between w-full p-4 pb-1 text-lg font-medium text-black select-none"
            @click="setActiveAccordion(id)"
          >
            <span
              >¿Necesito un capital mínimo para poder empezar a invertir?</span
            >
            <svg
              class="size-5 text-gray-500 duration-300 ease-out"
              fill="none"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              stroke="currentColor"
              stroke-width="1.5"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
            >
              <path
                d="M12 6v12m6-6H6"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </button>
          <div x-collapse="" x-show="activeAccordion==id" style="display: none">
            <div
              class="p-4 pt-2 text-base font-medium text-gray-500 text-balance"
            >
              Sí, WealthIQ ofrece opciones de inversión para todos los niveles
              de capital. Nuestro enfoque es hacer que la inversión sea
              accesible para todos, desde principiantes hasta inversores
              experimentados. Con WealthIQ, puedes comenzar a invertir con tan
              solo $100, lo que te brinda la oportunidad de diversificar tu
              cartera y comenzar a construir tu riqueza.
            </div>
          </div>
        </div>
        <!-- Add more questions and answers as needed -->
        <div
          class="text-gray-600 cursor-pointer group hover:text-gray-500"
          x-data="{ id: $id('accordion3') }"
          :class="{ 'text-gray-900': activeAccordion==id, 'text-gray-600 hover:text-gray-500': activeAccordion!=id }"
        >
          <button
            class="flex items-center justify-between w-full p-4 pb-1 text-lg font-medium text-black select-none"
            @click="setActiveAccordion(id)"
          >
            <span
              >¿Cuáles son los beneficios de invertir a través de WealthIQ?</span
            >
            <svg
              class="size-5 text-gray-500 duration-300 ease-out"
              fill="none"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              stroke="currentColor"
              stroke-width="1.5"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
            >
              <path
                d="M12 6v12m6-6H6"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </button>
          <div x-collapse="" x-show="activeAccordion==id" style="display: none">
            <div
              class="p-4 pt-2 text-base font-medium text-gray-500 text-balance"
            >
              Invertir a través de WealthIQ ofrece una serie de beneficios
              clave. Nuestra plataforma utiliza algoritmos avanzados para
              analizar el mercado y seleccionar las mejores oportunidades de
              inversión para ti. Además, te brindamos acceso a herramientas de
              gestión de cartera líderes en la industria y asesoramiento
              personalizado de expertos financieros. Con WealthIQ, puedes tomar
              decisiones de inversión informadas y maximizar tu potencial de
              ganancias.
            </div>
          </div>
        </div>
        <div
          class="text-gray-600 cursor-pointer group hover:text-gray-500"
          x-data="{ id: $id('accordion3') }"
          :class="{ 'text-gray-900': activeAccordion==id, 'text-gray-600 hover:text-gray-500': activeAccordion!=id }"
        >
          <button
            class="flex items-center justify-between w-full p-4 pb-1 text-lg font-medium text-black select-none"
            @click="setActiveAccordion(id)"
          >
            <span
              >¿Cómo puedo estar seguro de que mis inversiones están protegidas?
            </span>
            <svg
              class="size-5 text-gray-500 duration-300 ease-out"
              fill="none"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              stroke="currentColor"
              stroke-width="1.5"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
            >
              <path
                d="M12 6v12m6-6H6"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </button>
          <div x-collapse="" x-show="activeAccordion==id" style="display: none">
            <div
              class="p-4 pt-2 text-base font-medium text-gray-500 text-balance"
            >
              La seguridad de tus inversiones es nuestra máxima prioridad en
              WealthIQ. Utilizamos medidas de seguridad de vanguardia, como el
              cifrado de extremo a extremo y la verificación de dos factores,
              para proteger tus datos financieros y garantizar la integridad de
              tu cuenta. Además, trabajamos con instituciones financieras de
              renombre y cumplimos con todas las regulaciones y estándares de la
              industria para brindarte tranquilidad y confianza en tus
              inversiones.
            </div>
          </div>
        </div>
        <div
          class="text-gray-600 cursor-pointer group hover:text-gray-500"
          x-data="{ id: $id('accordion3') }"
          :class="{ 'text-gray-900': activeAccordion==id, 'text-gray-600 hover:text-gray-500': activeAccordion!=id }"
        >
          <button
            class="flex items-center justify-between w-full p-4 pb-1 text-lg font-medium text-black select-none"
            @click="setActiveAccordion(id)"
          >
            <span>¿Puedo retirar mis fondos en cualquier momento?</span>
            <svg
              class="size-5 text-gray-500 duration-300 ease-out"
              fill="none"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              stroke="currentColor"
              stroke-width="1.5"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
            >
              <path
                d="M12 6v12m6-6H6"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </button>
          <div x-collapse="" x-show="activeAccordion==id" style="display: none">
            <div
              class="p-4 pt-2 text-base font-medium text-gray-500 text-balance"
            >
              Sí, en WealthIQ, puedes retirar tus fondos en cualquier momento
              sin penalizaciones ni tarifas ocultas. Creemos en brindarte
              flexibilidad y control total sobre tu dinero. Ya sea que necesites
              acceso rápido a efectivo o desees reinvertir tus ganancias, puedes
              hacerlo de manera rápida y sencilla a través de nuestra plataforma
              segura y confiable.
            </div>
          </div>
        </div>
        <div
          class="text-gray-600 cursor-pointer group hover:text-gray-500"
          x-data="{ id: $id('accordion3') }"
          :class="{ 'text-gray-900': activeAccordion==id, 'text-gray-600 hover:text-gray-500': activeAccordion!=id }"
        >
          <button
            class="flex items-center justify-between w-full p-4 pb-1 text-lg font-medium text-black select-none"
            @click="setActiveAccordion(id)"
          >
            <span
              >¿Cuánto tiempo se tarda en ver resultados de mis inversiones?</span
            >
            <svg
              class="size-5 text-gray-500 duration-300 ease-out"
              fill="none"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              stroke="currentColor"
              stroke-width="1.5"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
            >
              <path
                d="M12 6v12m6-6H6"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </button>
          <div x-collapse="" x-show="activeAccordion==id" style="display: none">
            <div
              class="p-4 pt-2 text-base font-medium text-gray-500 text-balance"
            >
              El tiempo necesario para ver resultados de tus inversiones en
              WealthIQ puede variar según diversos factores, como el tipo de
              inversión, las condiciones del mercado y tu estrategia de
              inversión personal. Sin embargo, nuestros algoritmos están
              diseñados para optimizar tus ganancias y minimizar el riesgo, lo
              que significa que puedes esperar ver resultados positivos en un
              plazo relativamente corto. Además, nuestro equipo de expertos
              financieros está disponible para brindarte asesoramiento y
              orientación en cada paso del proceso de inversión para ayudarte a
              alcanzar tus objetivos financieros más rápido.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
