<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24"
  >
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
        >
          Política de privacidad
        </h1>
        <p class="mt-4 text-base lea ding-7 text-gray-500">
          Última actualización el 01 de abril de 2024
        </p>
      </div>
    </div>
    <div>
      <div
        class="mx-auto max-w-[40rem] prose-base prose text-gray-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black"
      >
        <p>
          Esta política de privacidad establece cómo Unwrapped AB recopila,
          procesa y utiliza su Información Personal a través de su uso de
          nuestros Servicios.
        </p>
        <h3>Definiciones</h3>
        <h3>DPO</h3>
        <p>
          DPO significa Oficial de Protección de Datos y es la persona
          específicamente designada por nosotros para manejar sus consultas con
          respecto a esta política de privacidad y su Información Personal.
        </p>
        <p>
          Información Personal significa cualquier información de identificación
          sobre usted. Esto incluye, entre otros, las siguientes: cookies y
          datos de uso.
        </p>
        <p>
          Servicios significa todos los servicios proporcionados por Michael
          Alexander Web Agency, incluido (pero no limitado a) este Sitio web.
        </p>
        <p>
          Sitio web significa este sitio web y todos los sitios web,
          aplicaciones y comunicaciones que publican un enlace a esta Política
          de Privacidad.
        </p>
        <h3>Recopilación de Información Personal</h3>
        <p>
          Solo recopilamos y usamos Información Personal en la medida necesaria
          para proporcionarle los Servicios. Recopilamos Información Personal
          para el Sitio web para brindarle una mejor experiencia en línea.
        </p>
        <h3>Retención de Información Personal</h3>
        <p>
          Mantenemos la Información Personal durante el tiempo más corto
          necesario para proporcionarle los Servicios y cumplir con todas
          nuestras obligaciones legales y de cumplimiento. Para determinar este
          período de retención, tenemos en cuenta (i) la naturaleza de la
          Información Personal recopilada; y (ii) la naturaleza de nuestras
          obligaciones legales y de cumplimiento. Toda la Información Personal
          ya no necesaria para nosotros se destruye y / o se borra.
        </p>
        <h3>Datos Personales de Terceros</h3>
        <p>
          De vez en cuando, podemos obtener Información Personal de terceros
          para permitirnos adaptar mejor nuestros Servicios a usted (Información
          Personal de Terceros). Cuando obtenemos Información Personal de
          Terceros, le notificaremos dentro de un mes. Si usamos o compartimos
          Información Personal de Terceros, le notificaremos inmediatamente.
        </p>
        <h3>Sus Derechos</h3>
        <p>
          Con respecto a la Información Personal que tenemos, usted tiene los
          siguientes derechos:
        </p>
        <ul>
          <li>
            Acceso: puede solicitar acceso a los datos que tenemos sobre usted.
          </li>
          <li>
            Rectificación: si los datos que tenemos sobre usted son inexactos,
            puede solicitar que los corrijamos. Si los datos que tenemos son
            incompletos, puede solicitar que los completemos.
          </li>
          <li>
            Eliminación: sujeto a ciertas condiciones, puede solicitar que
            eliminemos todos los datos que tenemos sobre usted.
          </li>
          <li>
            Restricciones: sujeto a ciertas condiciones, puede solicitar que
            restrinjamos el procesamiento de los datos que tenemos sobre usted.
          </li>
          <li>
            Portabilidad: sujeto a ciertas condiciones, puede solicitar que
            transfiramos todos los datos que tenemos sobre usted a un tercero
            (incluido usted mismo).
          </li>
          <li>
            Objeciones: sujeto a ciertas condiciones, puede oponerse al
            procesamiento de los datos que tenemos sobre usted.
          </li>
        </ul>
        <h3>Redes Sociales</h3>
        <p>
          Puede optar por participar con nuestros Servicios a través de una
          variedad de sitios y plataformas de redes sociales, por ejemplo,
          Facebook, Instagram y Twitter. Cuando interactúa con nuestros
          Servicios a través de estas plataformas de redes sociales, puede
          permitirnos recibir Información Personal sobre cómo está interactuando
          con nuestros Servicios. Esto dependerá de la configuración de
          privacidad en cada sitio y plataforma de redes sociales. Los datos que
          nos proporciona a través de su interacción con nuestros Servicios en
          sitios y plataformas de redes sociales se utilizarán por nosotros
          sujeto a los términos de esta política de privacidad. Dependiendo de
          la configuración de privacidad de su sitio de redes sociales, su
          Información Personal puede hacerse pública para una comunidad de
          usuarios si elige interactuar con nuestros Servicios a través de estas
          plataformas. Para obtener más información sobre cómo puede
          personalizar la configuración de privacidad en los sitios de redes
          sociales y cómo esos sitios manejan su privacidad, consulte la
          política de privacidad de cada sitio de redes sociales en particular.
        </p>
        <h3>Menores</h3>
        <p>
          No recopilamos información sobre niños menores de 16 años (“Niño”). Si
          se da cuenta de que un Niño nos ha proporcionado Información Personal,
          contáctenos. Si nos damos cuenta de que hemos recopilado Información
          Personal de un Niño sin la autorización verificable de sus padres para
          acceder a nuestros Servicios, tomaremos medidas para eliminar esa
          información de nuestros servidores.
        </p>
      </div>
    </div>
  </div>
</section>
