<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24"
  >
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
        >
          Términos y Condiciones
        </h1>
        <p class="mt-4 text-base lea ding-7 text-gray-500">
          Última actualización el 01 de abril de 2024
        </p>
      </div>
    </div>
    <div>
      <div
        class="mx-auto max-w-[40rem] prose-base prose text-gray-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black"
      >
        <p>
          Bienvenido a los Términos y Condiciones de uso de nuestra plataforma
          de servicios financieros SaaS para la gestión de carteras de
          inversión. Estos términos son un acuerdo legal entre usted y nuestra
          empresa. Al acceder y utilizar nuestros servicios, usted acepta
          cumplir y estar sujeto a estos términos. Si no está de acuerdo con
          alguna parte de los términos, no puede acceder a nuestra plataforma.
        </p>
        <h3>1. Servicios Ofrecidos</h3>
        <p>
          Nuestra plataforma ofrece servicios de gestión de carteras de
          inversión, que incluyen, entre otros, análisis de mercado, seguimiento
          de activos, y recomendaciones de inversión. Estos servicios están
          sujetos a cambios y pueden ser actualizados, modificados o
          discontinuados en cualquier momento sin previo aviso.
        </p>
        <h3>2. Registro de Usuario</h3>
        <p>
          Para acceder a nuestros servicios, debe registrarse como usuario
          proporcionando información precisa y completa. Usted es responsable de
          mantener la confidencialidad de su cuenta y contraseña, y por todas
          las actividades que ocurran bajo su cuenta. Debe notificarnos de
          inmediato sobre cualquier uso no autorizado de su cuenta o cualquier
          otra violación de seguridad.
        </p>
        <h3>3. Uso Aceptable</h3>
        <p>
          Usted acepta utilizar nuestros servicios únicamente para fines legales
          y de acuerdo con estos términos. No está permitido utilizar nuestros
          servicios de manera que pueda dañar, deshabilitar, sobrecargar o
          comprometer la seguridad de nuestra plataforma.
        </p>
        <h3>4. Responsabilidad</h3>
        <p>
          Nuestra plataforma proporciona información financiera, pero no
          garantiza la exactitud, integridad o idoneidad de esta información.
          Usted reconoce que cualquier inversión realizada basada en la
          información proporcionada está bajo su propio riesgo y acepta que no
          seremos responsables de ninguna pérdida o daño resultante.
        </p>
        <h3>5. Propiedad Intelectual</h3>
        <p>
          Todos los derechos de propiedad intelectual relacionados con nuestros
          servicios son propiedad de nuestra empresa. Usted acepta no copiar,
          distribuir, modificar, transmitir, realizar trabajos derivados o
          vender ningún contenido o funcionalidad de nuestra plataforma.
        </p>
        <h3>6. Modificaciones</h3>
        <p>
          Nos reservamos el derecho de modificar estos términos en cualquier
          momento sin previo aviso. Es su responsabilidad revisar periódicamente
          estos términos para estar al tanto de las actualizaciones. El uso
          continuado de nuestros servicios después de cualquier modificación
          constituye su aceptación de los términos modificados.
        </p>
        <h3>7. Ley Aplicable</h3>
        <p>
          Estos términos y su relación con nuestra empresa se regirán e
          interpretarán de acuerdo con las leyes del lugar donde está registrada
          nuestra empresa, sin tener en cuenta sus disposiciones sobre
          conflictos de leyes.
        </p>
        <h3>8. Contacto</h3>
        <p>
          Si tiene alguna pregunta o inquietud sobre estos términos, no dude en
          contactarnos a través de los datos de contacto proporcionados en
          nuestra plataforma.
        </p>
      </div>
    </div>
  </div>
</section>
