---
const isAuthorized = Astro.cookies.get('auth_token').value ?? false;

---

<astro>
  <section>
    <script>
      import { checkAuth } from "../utils/authentication";

      export const load = async (params) => {
        const cookies = params.cookies;
        const accessToken = cookies.get("auth_token");

        // Check if the user is authorized
        const isAuthorized = await checkAuth(accessToken);

        if (!isAuthorized) {
          // Redirect to the login page
          return {
            status: 302,
            headers: {
              location: "/login",
            },
          };
        }

        // Return data to render the page
        return {
          isAuthorized: true,
        };
      };
    </script>
    {
      !isAuthorized && (
        <>
          <h1>Unauthorized</h1>
          <p>
            You are not authorized to view this page. Please log in to view this
            page.
          </p>
        </>
      )
    }
    {
      isAuthorized && (
        <>
          <h1>Authorized</h1>
          <p>You are authorized to view this page.</p>
        </>
      )
    }
  </section>
</astro>
